# vim:ft=yaml:

# So parent files don't get applied
root: true

env:
  browser: true

extends:
  - standard
  - standard-react

rules:
  semi: [2, never]

parser: babel-eslint

globals:
  __DEV__              : false
  __PROD__             : false
  __MOCK__             : false
  __DEBUG__            : false
  __DEBUG_NEW_WINDOW__ : false
  __BASENAME__         : false

