:global {
  .ui.floating.message {
    color: #FFF;
    .header {
      color: #FFF;
    }
    &.error {
      background-color: #8B0000;
    }
    &.info {
      background-color: #000;
    }
    > .content {
      display: flex;
      p {
        flex: 1 100%;
      }
      button {
        align-self: flex-end;
      }
    }
  }
}
