:global {
  .ui.card.doc {
    .header, .meta {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .extra.content {
      display: flex;
      .labels {
        flex: 1
      }
    }
  }
}

