.toolbar {
    z-index: 1;
}

.content {
    margin: 1em 0;
}

.modificationDate, .origin {
    font-size: smaller;
    color: #808080;
    font-style: italic;
}

.modificationDate {
    float: right;
}

