.toolbar {
    //position: fixed;
    //top: 64px;
    z-index: 1;
}
.document {
    //margin-top: 120px;
}
.modificationDate {
    font-size: smaller;
    color: #808080;
    font-style: italic;
    float: right;
    margin: 1em 0;
}

