.readable {
  font-size: 1em;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin: 1em 0;
  img { max-width: 100% };
  p { padding: 0 0  0.8125em 0; color: #111; font-weight: 300;}
  p.first:first-letter{ float: left; font-size: 3em; font-weight: 700;line-height: 1em;margin-bottom: -0.2em;padding: 0.2em 0.1em 0 0; }
  p img       { margin: 0; padding: 0; }
  h1,h2{ font-weight:normal; color: #333; }
  h3,h4,h5,h6 { font-weight: normal; color: #333; }
  h1 { font-size: 2.125em; margin-bottom: 0.765em; }
  h2 { font-size: 1.9em;  margin-bottom: 0.855em; }
  h3 { font-size: 1.7em;  margin-bottom: 0.956em; }
  h4 { font-size: 1.4em;  margin-bottom: 1.161em; }
  h5,h6 { font-size: 1.313em;  margin-bottom: 1.238em; }
  ul{list-style-position:outside;}
  li ul, 
  li ol  { margin:0 1.625em;  }
  ul, ol { margin: 0 0 1.625em 0; }
  dl { margin: 0 0 1.625em 0; }
  dl dt { font-weight: bold; }
  dl dd { margin-left: 1.625em; }
  a { color:#005AF2; text-decoration:none; }
  a:hover { text-decoration: underline; }
  table { margin-bottom:1.625em; border-collapse: collapse; }
  th { font-weight:bold; }
  tr,th,td { margin:0; padding:0 1.625em 0 1em; height:26px; }
  tfoot { font-style: italic; }
  caption { text-align:center; }
  abbr, acronym { border-bottom:1px dotted #000; }
  address { margin-top:1.625em; font-style: italic; }
  del {color:#000;}
  blockquote { padding:1em 1em 1.625em 1em; margin: 0; font-style: italic; }
  blockquote:before { content:"\201C";font-size:3em;margin-left:-.625em; color:#aaa;line-height:0;}/* From Tripoli  */
  blockquote > p {padding:0; margin:0; }
  strong { font-weight: bold; }
  em, dfn { font-style: italic; }
  dfn { font-weight: bold; }
  pre, code { margin: 0; padding: 10px; white-space: pre-wrap; color: #333; background-color: #f5f5f5;}
  pre, code, tt { font: 1em monospace; line-height: 1.5; }
  tt { display: block; margin: 1.625em 0; }
  hr { margin-bottom:1.625em; }
}
