:global {
  #nav {
    border: none;
    > header {
      background: #2185d0;
      color: rgba(255,255,255,.9);
      margin: 0;
      padding: 1em 0;
      > h2 {
        width: 100%;
        color: rgba(255,255,255,.5);
        font-variant: small-caps;
        .content {
          padding: 0;
        }
      }
    }
  }
}
