:global {
  #nav {
    h2 {
      background: #fbbd08;
      color: rgba(255,255,255,.9);
      margin: 0;
      padding: 2em 0;
      text-align: center;
      .icon {
        display: inline-block;
      }
    }
  }
}
