#PublicLayout {
  background-color: #0c1d2b;
}

#PublicLayout h1 {
  text-align: center;
  padding: 1em 0;
  margin: 0;
  text-shadow: 2px 2px 5px #000;
  font-weight: 400;
}

#PublicLayout h1 .content {
  text-align: left;
}

#PublicLayout h1 .content small {
  font-size: small;
}

#PublicLayout .view.page {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  padding: 1em;
  border-radius: 1em;
}

#DesktopLayout {
  height: 100vh;
}

#DesktopLayout #AppMenu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 260px !important;
  overflow-y: auto;
  margin: 0;
  z-index: 2;
  box-shadow: 0 0 20px rgba(34,36,38,.15);
}

#DesktopLayout > .main {
  margin-left: 260px;
  height: 100vh;
}

.ReactModalPortal .view {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

#MobileLayout .view,
#DesktopLayout .view {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.ReactModalPortal .view > #AppBar,
#MobileLayout .view > #AppBar,
#DesktopLayout .view > #AppBar {
  margin-bottom: 0;
  border-radius: 0;
}

.ReactModalPortal .view > .viewContent,
#MobileLayout .view > .viewContent,
#DesktopLayout .view > .viewContent {
  flex: 1;
  overflow: auto;
  background: #fff;
  position: relative;
}

#MobileLayout .view > .documents,
#MobileLayout .view > .trash,
#DesktopLayout .view > .documents,
#DesktopLayout .view > .trash {
  background: #ECECEC;
}

.viewContent {
  padding: 1em;
}
